{% extends "layout.html" %}
{% block content %}
    <h1>Keskustelusovellus</h1>
    <h2>Tervetuloa keskustelemaan!</h2><br>
    <br>
        {% for post in posts %}
            <article class="media content-section"></article>
                <div class="media-body"></div>
                        <div class="article-metadata"></div>
                            <a class="mr-2" href="#">{{ post.author }}</a>
                            <small class ="text-muted">{{ post.date_posted }}</small>
                    </div>
                    <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
                    <p class="article-content">{{ post.content }}</p><br>
                    <br>
                </div>
            </article>
        {% endfor %}
{% endblock content %}