{% extends "layout.html" %}
{% block content %}
{% if session.user_id %}
<p>You have made {{ thread_count[0] }} posts and {{ comment_count[0] }}
    comments in our forum!</p>
{% endif %}
<h2>Welcome to the chatforum!</h2><br>
{% if session.user_role == 2 %}
<p>You can create new theme to the platform in <a href="/new_theme">here.</a></p>
{% endif %}
<body>
<h3>You can visit themes that you are interested and want to talk about!</h3>
{% if themelist %}
<ul>
    {% for item in themelist %}
        <li><a href="/theme/{{ item[0] }}">{{ item[0] }}</a>
    {% endfor %}
    </ul>
{% else %}
<p>No themes found!</p>
{% endif %}
    <br>
</body>
{% endblock content %}